@using GridPromocional.Models.Views;

@{
    ViewData["Title"] = "Busqueda de inventario";
}
@model ViewInventories

<form asp-action="SearchInventories" method="post" class="row dates-validation">
    <div class="form-group mb-3 col-sm-4">
        <label for="Code" class="control-label mb-2 col-sm-12">Código:</label>
        @Html.TextBoxFor(m=> m.Code, new { @style = "width:90%; ", @class = "form-control" })
    </div>
    <div class="form-group mb-3 col-sm-4">
        <label for="Project" class="control-label mb-2 col-sm-12">Proyecto:</label>
        @Html.TextBoxFor(m=> m.Project, new { @style = "width:90%", @class = "form-control" })
    </div>
    <div class="form-group mb-3 col-sm-4">
        <label for="Description" class="control-label mb-2 col-sm-12">Descripción:</label>
        @Html.TextBoxFor(m=> m.Description, new { @style = "width:90%", @class = "form-control" })
    </div>
    <div class="form-group mb-3 col-sm-4">
        <label for="Family" class="control-label mb-2 col-sm-12">Familia:</label>
        @Html.DropDownList("Family", new SelectList(((ViewProducts)ViewData["prodCatalogs"]).family,"IdFam","Family"), "--Todas--", new { @style = "width:90%", @class = "form-select" })
    </div>
    <div class="form-group mb-3 col-sm-4">
        <label for="MaterialType" class="control-label mb-2 col-sm-12">Material:</label>
        @Html.DropDownList("Material", new SelectList(((ViewProducts)ViewData["prodCatalogs"]).material,"IdType","MaterialType"), "--Todos--", new { @style = "width:90%", @class = "form-select" })
    </div>
    <div class="form-group mb-3 col-sm-4">
        <label for="Status" class="control-label mb-2 col-sm-12">Estatus:</label>
        @Html.DropDownList("Status", new SelectList(((ViewProducts)ViewData["prodCatalogs"]).status,"IdSt","Status"), "--Todos--", new { @style = "width:90%", @class = "form-select        " })
    </div>
    <div>
        <p></p>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <input type="button" class="btn btn-secondary" value="Limpiar" onclick="location.href='@Url.Action("Index","Search")'" />
        <p></p>
    </div>  
    <div>
        @{
            Html.RenderPartial("../Products/InventoriesPartial",ViewData["InventoriesSearch"]);
        }
    </div>

</form>