@model IEnumerable<GridPromocional.Models.PgLogUploadHistory>

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRegisters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedRegisters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrongRegisters)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRegisters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedRegisters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrongRegisters)
            </td>
        </tr>
}
    </tbody>
</table>
