@using GridPromocional.Models.Errors;
@using GridPromocional.Models.Views;

@{
    ViewData["Title"] = "Nuevo producto";
}
@model PgCatProductsErrors

<form asp-action="SaveProduct" method="post" class="row dates-validation">
    <div class="form-group mb-3 col-sm-12">
        <label for="Code" class="control-label mb-2 col-sm-12">Código:</label>
        @Html.TextBoxFor(m=> m.Code, new { @style = "width:60%; background-color: #c1bebe;", @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-sm-12">
        <label for="Proyect" class="control-label col-sm-12">Proyecto:</label>
        @Html.TextBoxFor(m=> m.Project, new { @style = "width:60%", @class = "form-control" })
        @Html.LabelFor(m=>m.ProjectError,Model.ProjectError,new { @style = "color:red"} )
    </div>
    <div class="form-group col-sm-12">
        <label for="Description" class="control-label col-sm-12">Descripción:</label>
        @Html.TextBoxFor(m=> m.Description, new { @style = "width:60%" , @class = "form-control"})
        @Html.LabelFor(m=>m.DescriptionError,Model.DescriptionError,new { @style = "color:red"} )
    </div>
    <div class="form-group col-sm-12">
        <label for="Family" class="control-label col-sm-12">Familia:</label>
        @Html.DropDownListFor(m=> m.IdFam, new SelectList(((ViewProducts)ViewData["prodCatalogs"]).family,"IdFam","Family"), "Sin familia", new { @style = "width:60%", @class = "form-select" })
        @Html.LabelFor(m=>m.FamilyError,Model.FamilyError,new { @style = "color:red"} )
    </div>
    <div class="form-group col-sm-12">
        <label for="MaterialType" class="control-label col-sm-12">Material:</label>
        @Html.DropDownListFor(m=> m.IdType, new SelectList(((ViewProducts)ViewData["prodCatalogs"]).material,"IdType","MaterialType"), "Sin material", new { @style = "width:60%", @class = "form-select" })
        @Html.LabelFor(m=>m.MaterialTypeError,Model.MaterialTypeError,new { @style = "color:red"} )
    </div>
    <div class="form-group col-sm-12">
        <label for="Status"  class="control-label col-sm-12">Estatus:</label>
        @Html.DropDownListFor(m=> m.IdSt, new SelectList(((ViewProducts)ViewData["prodCatalogs"]).status,"IdSt","Status"), new { @style = "width:60%",  @class = "form-select" })
        @Html.LabelFor(m=>m.StatusError,Model.StatusError,new { @style = "color:red"} )
    </div>
    <div>
        <p></p>
        <button type="submit" class="btn btn-primary">Guardar</button> 
        <input type="button" class="btn btn-secondary" value="Limpiar" onclick="location.href='@Url.Action("InsertManual","Products")'" />
    </div>

</form>