@model IEnumerable<GridPromocional.Models.Views.ViewInventories>
@* 
<script>
    function changeStatus(codeProduct){
        console.log(codeProduct);
        var value = { code : codeProduct };
        console.log(JSON.stringify(value))
        var url = "@Url.Action("changeStatusProduct", "Product")"
        console.log(url)

        $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(value),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response)
                },
                failure: function (response) {
                    console.log(response)
                },
                error: function (response) {
                    console.log(response)
                }
            });

    }
</script> *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.Label((bool)item.Active ? "Activo" : "Inactivo")
            </td>
        </tr>
}
    </tbody>
</table>
